<form method="POST">
  <div class="form-group">
    <label for="query" class="mb-3 w-100 text-center">Query</label>
    <textarea class="form-control mb-2"  id="query" placeholder="SELECT * FROM WEB;" name="query"><%= query %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Run Query</button>
</form>
