<%- include('../partials/header.ejs' , {title: 'Home'}) %>

<div class="login-container flex-column  container d-flex align-items-center justify-content-center mt-5 p-2">
<img class="login-logo" src="/public/icons/github.png">
<a href="/auth/github" class="btn btn-outline-dark p-2 mt-5">
Login
</a></div>


<%- include('../partials/footer.ejs') %>
